apiVersion: v1
kind: Service
metadata:
    name: backend
spec:
    selector:
        app: backend
    type: NodePort
    ports:
        - protocol: TCP
          port: 8080
          targetPort: 8080
          nodePort: 30008
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: backend-deployment
spec:
    replicas: 1
    selector:
        matchLabels:
            app: backend
    template:
        metadata:
            labels:
                app: backend
        spec:
            containers:
                - name: backend 
                  image: kiennguyentrung408772/app-demo-backend:latest
                  env:
                    - name: MONGO_URI
                      value: "mongodb://$(MONGO_USERNAME):$(MONGO_PASSWORD)@mongodb-svc:27017/?authSource=admin"
                      # value: "mongodb://mongodb-svc:27017"
                    - name: MONGO_USERNAME
                      valueFrom:
                        secretKeyRef:
                            name: mongo-sec
                            key: username
                    - name: MONGO_PASSWORD
                      valueFrom:
                        secretKeyRef:
                            name: mongo-sec
                            key: password
                #   resources:
                #       limits:
                #           cpu: '500m'
                #           memory: '512Mi'
                #       requests:
                #           cpu: '250m'
                #           memory: '256Mi'

