apiVersion: v1
kind: Service
metadata:
    name: frontend-service
spec:
    selector:
        app: frontend
    type: LoadBalancer
    ports:
        - protocol: TCP
          port: 3000
          targetPort: 3000
          nodePort: 30003
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: frontend-deployment
spec:
    replicas: 1
    selector:
        matchLabels:
            app: frontend
    template:
        metadata:
            labels:
                app: frontend
        spec:
            containers:
                - name: frontend
                  image: kiennguyentrung408772/app-demo-frontend
                  env:
                    - name: REACT_APP_API_URL
                      value: 'http://backend:8080'
                #   resources:
                #       limits:
                #           cpu: '500m'
                #           memory: '512Mi'
                #       requests:
                #           cpu: '250m'
                #           memory: '256Mi'

